// 公共 --》 三级标题
.commom-h3 {
  .decorative-block {
    margin-top: -1px;
  }
  &.mb16 {
    margin-bottom: 16px;
  }
  &.mb8 {
    margin-bottom: 8px;
  }
  &.justify-stlye {
    justify-content: space-between;
  }
}
// 公共 --》 三级标题
h3 {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  .decorative-block {
    background-color: #007bf0;
    margin-top: -1px;
    width: 3px;
    height: 12px;
    margin: 0 5px 0 0px;
    border-radius: 1px;
  }
  & > span {
    font-size: 14px;
    font-weight: 600;
  }
}

// 公共--》表单
.common-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & > div {
    margin: 20px;
    display: flex;
    align-items: center;
  }
  .label {
    width: 60px;
    text-align: right;
  }
  .form-item {
    width: 180px;
    min-height: 32px;
    display: flex;
    align-items: center;
    .ant-select-multiple {
      width: 100%;
    }
    .ant-picker {
      width: 100%;
    }
  }
  .ant-rate .anticon {
    line-height: 32px;
  }
}

// 公共 --》常用 margin
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
