.common-form {
  display: flex;
  flex-direction: row;
  & > div {
    margin: 20px;
    display: flex;
    align-items: center;
  }
  .form-item {
    width: 150px;
  }
  .ant-rate .anticon {
    line-height: 32px;
  }
}
