.commom-h3 .decorative-block {
  margin-top: -1px;
}
.commom-h3.mb16 {
  margin-bottom: 16px;
}
.commom-h3.mb8 {
  margin-bottom: 8px;
}
.commom-h3.justify-stlye {
  justify-content: space-between;
}
h3 {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
h3 .decorative-block {
  background-color: #007bf0;
  margin-top: -1px;
  width: 3px;
  height: 12px;
  margin: 0 5px 0 0px;
  border-radius: 1px;
}
h3 > span {
  font-size: 14px;
  font-weight: 600;
}
.common-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.common-form > div {
  margin: 20px;
  display: flex;
  align-items: center;
}
.common-form .label {
  width: 60px;
  text-align: right;
}
.common-form .form-item {
  width: 180px;
  min-height: 32px;
  display: flex;
  align-items: center;
}
.common-form .form-item .ant-select-multiple {
  width: 100%;
}
.common-form .form-item .ant-picker {
  width: 100%;
}
.common-form .ant-rate .anticon {
  line-height: 32px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.react-resizable {
  position: relative;
  background-clip: padding-box;
}
.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}
