.commom-h3 {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  .decorative-block {
    margin-top: -1px;
  }
  &.mb16 {
    margin-bottom: 16px;
  }
  &.mb8 {
    margin-bottom: 8px;
  }
  &.justify-stlye {
    justify-content: space-between;
  }
}
